@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] font-semibold leading-[1.1];
  }
  .h1{
    @apply text-[36px] xl:text-[48px] font-semibold leading-[1.1];
  }
  .h3{
    @apply text-[20px] xl:text-[24px] font-semibold leading-[1.1];
  }
  .text-outline{
  -webkit-text-stroke: 1px white
}
.text-outline-hover{
  -webkit-text-stroke: 1px #4B70F5;
}
}

